<div class="row">
    <div class="col-12 mb-4">
        <h6>
            <u>Create Post ( {{portal | titlecase}} ) :</u>

        </h6>

        <div *ngIf="!editSection">
            <button *ngIf="!editSection" type="button" class="btn btn-outline-primary btn-sm float-right"
                (click)="edit()">
                <span class="px-3">Edit</span>
            </button>
            <p class="small mb-1 text-capitalize"><span style="font-weight: 500">Name:</span> {{userDetails?.name}}</p>
            <p class="small mb-1"><span style="font-weight: 500">Address:</span> {{userDetails?.address}}</p>
            <p class="small mb-1"><span style="font-weight: 500">Contact Number:</span> {{userDetails?.contactNo}}
            </p>
            <p class="small mb-1 text-capitalize"><span style="font-weight: 500">Contact Person:</span>
                {{userDetails?.contactPerson }}</p>
            <p class="small mb-1"><span style="font-weight: 500">Location:</span> {{userDetails?.location}}</p>
            <p class="small mb-1" *ngIf="userDetails?.type !== 'Other'">
                <span style="font-weight: 500"> Type:</span> {{userDetails?.type}}
            </p>
            <p class="small mb-1" *ngIf="userDetails?.type === 'Other'">
                <span style="font-weight: 500"> Type:</span> {{userDetails?.otherType}}
            </p>
            <p class="small mb-1"><span style="font-weight: 500">Number Of Persons:</span>
                {{userDetails?.numberOfPersons}}
            </p>
        </div>

        <div *ngIf="editSection">
            <form [formGroup]="form">
                <div class="form-group">
                    <label for="name">Name<span class="text-danger ml-1">*</span></label>
                    <input type="text" class="form-control" id="name" placeholder="Enter name" formControlName="name">
                </div>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="category">Category</label>
                    </div>
                    <select class="custom-select" id="category" formControlName="category">
                        <option value="Food">Food</option>
                        <option value="Clothes">Clothes</option>
                        <option value="Books">Books</option>
                        <option value="Furniture">Furniture</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="address">Address<span class="text-danger ml-1">*</span></label>
                    <input type="text" class="form-control" id="address" placeholder="Enter address"
                        formControlName="address">
                </div>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="addressType">Address Type</label>
                    </div>
                    <select class="custom-select" id="addressType" formControlName="addressType">
                        <option value="Home">Home</option>
                        <option value="Office">Office</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="location">Location<span class="text-danger ml-1">*</span></label>
                    <input type="text" class="form-control" id="location" placeholder="Enter location / Map link"
                        formControlName="location">
                </div>
                <div class="form-group">
                    <label for="contactNumber">Contact Number<span class="text-danger ml-1">*</span></label>
                    <input type="text" class="form-control" id="contactNumber" placeholder="Enter contact number"
                        formControlName="contactNumber">
                </div>
                <div class="form-group">
                    <label for="contactName">Contact Person<span class="text-danger ml-1">*</span></label>
                    <input type="text" class="form-control" id="contactName" placeholder="Enter contact person name"
                        formControlName="contactName">
                </div>


                <div class="form-group">
                    <label for="notes">Notes<span class="text-danger ml-1">*</span></label>
                    <textarea type="text" class="form-control" id="notes" placeholder="Enter notes / message"
                        formControlName="notes">
                        </textarea>
                </div>

                <button type="button" class="btn btn-primary mt-4" (click)="createPost()" *ngIf="postID === 'new'">
                    Create Post
                </button>
                <button type="button" class="btn btn-primary mt-4" (click)="createPost()" *ngIf="postID !== 'new'">
                    Update Post
                </button>
                <button type="button" class="btn btn-secondary mt-4 ml-3" (click)="cancel()">Cancel</button>
            </form>

        </div>
    </div>
</div>
