<div class="row">
    <div class="col-12 col-md-6">
        <div class="mb-4">
            <h5>What is RRR?</h5>
            <p>
                RRR is a software platform which enables to share/donate items with the unprivileged or needy people.
            </p>
            <p>
                Using this platform people can connect with each other who shares the common goal.
            </p>
            <p>
                It enables people to give back to the community. They can donate Food, Clothes, Books, Furniture, etc.
            </p>
        </div>
        <div class="mb-3">
            <h5>Why RRR?</h5>
            <p>
                RRR is a vision to serve the community.
            </p>
            <p>
                It started when we realize that 1 PG in Bangalore throws away 15 - 20 persons food every night when a
                lot of unprivileged people sleeping with empty stomach
            </p>
            <p>
                In the 2022 Global Hunger Index, India ranks 107th out of the 121 countries with sufficient data to
                calculate 2022 GHI
                scores. With a score of 29.1, India has a level of hunger that is serious.
            </p>
        </div>
    </div>
    <div class="col-12 col-md-6 text-center">
        <img class="img-responsive" style="width: 400px;max-width: 100%; border-radius: 50%;"
            src="assets/images/img1.jpg" alt="" srcset="">
    </div>
    <div class="col-12 mt-3">
        <h5 class="quote">
            One of the most important things you can do on this earth is to let people know
            they are not alone.
        </h5>
        <h6>What are you waiting for. Join us to work on this noble cause.
        </h6>
        <button type="button" class="btn btn-warning" (click)="register()">Register Now!</button>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12 mb-5">
        <h6 class="mb-4"><u>List of Providers:</u></h6>
        <div class="row">
            <div class="col-12 col-md-4 mb-3" *ngFor="let provider of providers">
                <app-provider-card [provider]="provider"></app-provider-card>
            </div>
        </div>
    </div>
    <div class="col-12 mb-5">
        <h6 class="mb-4"><u>List of Consumers:</u></h6>
        <div class="row">
            <div class="col-12 col-md-4 mb-3" *ngFor="let consumer of consumers">
                <app-consumer-card [consumer]="consumer"></app-consumer-card>
            </div>
        </div>
    </div>

    <div class="col-12">
        <app-posts></app-posts>
    </div>
</div>
