$header-font: "Open Sans", sans-serif !default;
$body-font: "Muli", sans-serif !default;

$link-color: #337ab7 !default;
$text-color: #6a6a6a !default;
$text-dark-color: #333333 !default;

$label-color: #5b778b !default;

$input-text-color: #555555 !default;
$input-disabled-color: #eeeeee;
$input-border: 1px solid #cecece;
$input-border-radius: 3px;

$header-height: 80px;
$header-height-responsive-view: 70px;
