<div class="row">
    <div class="col-12">
        <div class="toolbar" role="banner">
            <div>
                <img width="40" alt="Angular Logo" src="assets/images/logo.svg" (click)="home()" />
                <span>Welcome to RRR ( Reduce, Reuse, Recycle )</span>
            </div>
            <div style="margin-right: 25px;">
                <button type="button" class="btn btn-success" (click)="login()">Login</button>
                <span class="mx-3">OR</span>
                <button type="button" class="btn btn-warning" (click)="register()">Register</button>
            </div>
        </div>
    </div>
</div>
